# This is Git's per-user configuration file.
[core]
	editor = vim
	excludesfile=~/.gitignore
[push]
	default = simple
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[credential]
	helper = cache --timeout=86400
[oh-my-zsh]
	hide-status = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
